.Header{width: 100%;float: left;position: relative;}
.App-header{width: 100%;float: left;height: auto;padding: 0;}
.Navigation{width: 100%;float: left;}
.Navigation ul{    width: 100%;
  float: left;
  text-align: center;
  height: auto;
  padding: 0;
  margin: 0;}
.Navigation li{display: inline-block;margin: 0 15px;}
.Navigation li a{    color: #212121;    display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  background: #a9a9a9;
  padding: 5px 15px;}
.logo{float: left;width: 20%;}
.navigation{width: 70%;float: left;}
.loginBtn{position: absolute;right:0;}
.loginBtn a{color: #212121; text-transform: uppercase;font-size: 20px;}

.contactPage{width: 100%;float: left;    min-height: 100%;background: red;

  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;



}

.contactPage input{
 height:48px;   
}
.AboutPage{width: 100%;float: left;     min-height: 100%; background: green;
  line-height: 450px;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;

}

  .galleryPage{width: 100%;float: left;    height: 100%;  padding: 150px 0;background: yellow;
    transition: all 1s ease;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;

    }
.galleryPage ul li{line-height: 18px;}

.LinkPage {width: 100%;float: left;    height: 100vh; padding: 150px 0;background: yellowgreen;}

html,.App,#root,body{height: 100%;}