.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container{max-width: 1170px;width: 100%;margin: 0 auto;}
.homePage{background: grey;    float: left;
  width: 100%;}

  .hello{
    width: 100%;
    float: left;
 
  }

  .ReactTable.-striped.-highlight{
    background: #fff;width: 100%;float: left;
  }